.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.col12{
  /* text-align: center; */
  display: flex;
  margin:auto;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
}
a{
  text-decoration: none;
}
.fontchange{
  font-size: 4vw;
}
@media screen and (max-width:668px) {
  .fontchange{
    font-size: 4vh;
  }
  .displayornot{
    display: none;
  }
}
.footer {
  min-height: 10px;
  font-size: 80%;
  background-color: #282828;
  color: white;
  padding: 10px 0px;
}
.winner{
  display: flex;
  max-width: 1000px;
  margin: auto;
}
@media screen and (max-width:750px) {
  .winner{
    display: flex;
    flex-direction: column;
  }
  .cardwin img{
    width: 100%;
    margin: auto;
  }
}
address {
  font-size: 80%;
  margin: 0px;
  color: white;
}

body {
  background-color: whitesmoke;
  padding-top: 50px;
  z-index: 0;
}

.navbar-dark {
  background-color: #282828;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.carousel {
  background-color: #8e8b95;
}
.carousel .carousel-item {
  height: 500px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(60%);
}
